<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="text-center">
              <img class="login-image" src="assets/images/sirus.png" alt="logo.png">
              <p class="login-text">Masukkan akun Anda, untuk masuk ke Sistem SIRUS.</p>
            </div>
            <div class="auth-box"> 
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email">
                <span class="md-line"></span>
              </div> 
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" routerLink="/login-password" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-arrow-right"></i> Lanjut </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>