<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>
<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Pendaftaran Pasien Rawat Jalan Poliklinik'">  
            <!-- <div class="row">  -->
                <div class="col-sm-12"> 
                    <form>
                        <div class="title-form">Periksa Identitas Pasien Lama</div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <select class="form-control" (change)="selectKategori($event)">
                                    <option value="">-- Kategori --</option>
                                    <option value="Nama">Nama</option>
                                    <option value="Nomor MR">Nomor MR</option>
                                    <option value="Nomor KTP">Nomor KTP</option>
                                    <option value="Nomor BPJS">Nomor BPJS</option> 
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Masukkan {{kategoryValue}}">
                            </div> 
                            <div class="col-sm-2"> 
                                <!-- <button type="button" (click)="show=!show" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Periksa Pasien</button>  -->
                                <button type="button" (click)="showDataPasien()" class="btn btn-primary btn-md btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-search-alt-1"></i> Periksa Pasien</button> 
                            </div>
                            <div class="col-sm-2"> 
                                <button type="button" (click)="showFormIdentitas()" class="btn btn-info btn-md btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-pencil-alt-2"></i> Input Manual</button>
                            </div>
                        </div> 
                    </form> 
                </div> 
            <!-- </div>  -->

            <button type="button" id="btnShowPasien" [hidden]="true" (click)="dataPasien.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Pasien</button> 
            <button type="button" id="btnShowRujukan" [hidden]="true" (click)="dataRujukan.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Rujukan</button> 

            <app-modal-basic #dataPasien [dialogClass]="'modal-lg'">
                <div class="app-modal-header">
                    <h4 class="modal-title">Data Pasien</h4>
                    <button type="button" class="close basic-close" (click)="dataPasien.hide()">
                        <span class="alert-danger" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="app-modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nama Pasien</th>
                                    <th>Tanggal Lahir</th>
                                    <th>Alamat</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Asep Saepudin</td>
                                    <td>23 Januari 1988</td>
                                    <td>Desa Bojongloa</td>
                                    <td><button type="button" (click)="showFormRujukan(); dataPasien.hide();" class="btn btn-success btn-sm waves-effect text-center"><i class="icofont icofont-arrow-right"></i> Daftar </button></td>
                                </tr> 
                                <tr> 
                                    <th scope="row">2</th>
                                    <td>Asep Saepudin</td>
                                    <td>23 Januari 1988</td>
                                    <td>Desa Bojongloa</td>
                                    <td><button type="button" (click)="showFormRujukan(); dataPasien.hide();" class="btn btn-success btn-sm waves-effect text-center"><i class="icofont icofont-arrow-right"></i> Daftar </button></td>
                                </tr> 
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Asep Saepudin</td>
                                    <td>23 Januari 1988</td>
                                    <td>Desa Bojongloa</td>
                                    <td><button type="button" (click)="showFormRujukan(); dataPasien.hide();" class="btn btn-success btn-sm waves-effect text-center"><i class="icofont icofont-arrow-right"></i> Daftar </button></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div> 
            </app-modal-basic>

            <app-modal-basic #dataRujukan [dialogClass]="'modal-lg'">
                <div class="app-modal-header">
                    <h4 class="modal-title">Data Rujukan</h4>
                    <button type="button" class="close basic-close" (click)="dataRujukan.hide()">
                        <span class="alert-danger" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="app-modal-body">
                    <div class="card thumb-block card-box">
                        <div class="row">
                            <label class="col-sm-2 bold"><strong>Nama Pasien</strong></label> 
                            <label class="col-sm-10">Asep Surasep</label> 
                        </div>
                        <div class="row">
                            <label class="col-sm-2 bold"><strong>Nomor KTP </strong></label> 
                            <label class="col-sm-10">1234567890</label> 
                        </div>
                        <div class="row">
                            <label class="col-sm-2 bold"><strong>Nomor BPJS</strong></label> 
                            <label class="col-sm-10">09876541</label> 
                        </div>
                        <div class="row">
                            <label class="col-sm-2 bold"><strong>Alamat</strong></label> 
                            <label class="col-sm-7">Desa Cibeunying</label> 
                        </div>
                        <div class="row">
                            <div class="col-sm-7"> </div>
                            <div class="col-sm-5"> 
                                <button type="button" routerLink="/pendaftaran/poliklinik" class="btn btn-info btn-md btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-arrow-right"></i> Daftar Pribadi / Non Rujukan</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>No. Rujukan</th>
                                    <th>Tanggal Rujukan</th>  
                                    <th>PPK Perujuk</th>
                                    <th>Sub/Spesialis</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>123456789</td>
                                    <td>23 Oktober 2018</td>  
                                    <td>Klinik</td>
                                    <td>Penyakit Dalam</td>
                                    <td><button type="button" routerLink="/pendaftaran/poliklinik" class="btn btn-success btn-sm waves-effect text-center" style="white-space: nowrap;"><i class="icofont icofont-arrow-right"></i> Gunakan </button></td>
                                </tr>  
                                <tr>
                                    <th scope="row">2</th>
                                    <td>123456789</td>
                                    <td>23 Oktober 2018</td>  
                                    <td>Klinik</td>
                                    <td>Penyakit Dalam</td>
                                    <td><button type="button" routerLink="/pendaftaran/poliklinik" class="btn btn-success btn-sm waves-effect text-center" style="white-space: nowrap;"><i class="icofont icofont-arrow-right"></i> Gunakan </button></td>
                                </tr>  
                                <tr>
                                    <th scope="row">3</th>
                                    <td>123456789</td>
                                    <td>23 Oktober 2018</td>  
                                    <td>Klinik</td>
                                    <td>Penyakit Dalam</td>
                                    <td><button type="button" routerLink="/pendaftaran/poliklinik" class="btn btn-success btn-sm waves-effect text-center" style="white-space: nowrap;"><i class="icofont icofont-arrow-right"></i> Gunakan </button></td>
                                </tr> 
                                
                            </tbody>
                        </table>
                    </div>
                </div> 
            </app-modal-basic>
            
            <br/>
            <form>
            <div class="" [hidden]="formIdentitasStatus!=1">
                <hr class="page-header-line">
                <div class="col-sm-12"> 
                    <div class="title-form">Formulir Identitas Pasien</div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <label class="">No. KTP</label> <label class="alert-danger">*</label>
                            <input type="text" id="no_ktp" name="no_ktp" class="form-control" placeholder="Nomor KTP">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Nama Lengkap Pasien</label> <label class="alert-danger">*</label>
                            <input type="text" id="nama_lengkap" name="nama_lengkap"  class="form-control" placeholder="Nama Lengkap Pasien">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Jenis Kelamin</label> <label class="alert-danger">*</label>
                            <select class="form-control" id="jenis_kelamin" name="jenis_kelamin">
                                <option value="">-- Jenis Kelamin --</option> 
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option> 
                            </select>
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Tempat Lahir</label>
                            <input type="text" id="tempat_lahir" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Tanggal Lahir</label>
                            <input type="text" id="tanggal_lahir" name="tanggal_lahir"  class="form-control" placeholder="Tanggal Lahir" (click)="d.toggle()"  dateFormat="'DD-MM-YYYY'" [minDate]="{year: 1900, month: 1, day: 1}" [(ngModel)]="modelPopup" ngbDatepicker #d="ngbDatepicker">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Usia</label>
                            <input type="text" id="usia" name="usia" class="form-control" placeholder="Usia" readonly="true">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Status Pernikahan</label>
                            <select  class="form-control" id="status_pernikahan" name="status_pernikahan" >
                                <option value="">-- Status Pernikahan --</option> 
                                <option value="Single">Single</option>
                                <option value="Menikah">Menikah</option>
                                <option value="Bercerai">Bercerai</option>
                                <option value="Janda">Janda</option>
                                <option value="Duda">Duda</option>
                            </select> 
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Agama</label> 
                            <select class="form-control" id="agama" name="agama" (change)="selectAgama($event)">
                                <option value="">-- Agama --</option> 
                                <option value="Islam">Islam</option>
                                <option value="Kristen">Kristen</option>  
                                <option value="Katolik">Katolik</option>  
                                <option value="Hindu">Hindu</option>  
                                <option value="Buddha">Buddha </option>  
                                <option value="Kong Hu Cu">Kong Hu Cu </option>  
                                <option value="Lainnya">Lainnya </option>  
                            </select>    
                            <input type="text" id="agama" name="agama" class="form-control" placeholder="Agama" [readonly]="agamaStatus!=0" [hidden]="agamaStatus!=0" value="{{agamaName}}" style="margin-top:10px">
                        </div>
                    </div>
                </div>

                <hr class="page-header-line">
                <div class="col-sm-12">   
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <label class="">Pendidikan Terakhir</label> <label class="alert-danger">*</label>
                            <select class="form-control" id="agama" name="agama" (change)="selectPendidikan($event)">
                                <option value="">-- Pendidikan Terakhir --</option> 
                                <option value="SD">SD</option>
                                <option value="SMP">SMP</option>  
                                <option value="SMA">SMA</option>  
                                <option value="Akademi">Akademi</option>  
                                <option value="Sarjana">Sarjana </option>
                                <option value="Lainnya">Lainnya </option>  
                            </select>    
                            <input type="text" id="pendidikan" name="pendidikan" class="form-control" placeholder="Pendidikan Terakhir" [readonly]="pendidikanStatus!=0" [hidden]="pendidikanStatus!=0" value="{{pendidikanName}}" style="margin-top:10px">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Pekerjaan</label> <label class="alert-danger">*</label>
                            <select name="select" class="form-control" id="pekerjaan" name="pekerjaan" (change)="selectPekerjaan($event)">
                                <option value="">-- Pekerjaan --</option> 
                                <option value="PNS">PNS</option> 
                                <option value="Swasta">Swasta</option> 
                                <option value="TNI">TNI</option> 
                                <option value="POLRI">POLRI</option> 
                                <option value="Tidak Bekerja">Tidak Bekerja</option> 
                                <option value="Lainnya">Lainnya</option> 
                                <!-- <option value="Belum / Tidak Bekerja">Belum / Tidak Bekerja</option>
                                <option value="Akuntan">Akuntan</option>
                                <option value="Anggota BPK">Anggota BPK</option>
                                <option value="Anggota DPD">Anggota DPD</option>
                                <option value="Anggota DPRD Kabupaten / Kota">Anggota DPRD Kabupaten / Kota</option>
                                <option value="Anggota DPRD Propinsi">Anggota DPRD Propinsi</option>
                                <option value="Anggota DPR-RI">Anggota DPR-RI</option>
                                <option value="Anggota Kabinet / Kementerian">Anggota Kabinet / Kementerian</option>
                                <option value="Anggota Mahkamah Konstitusi">Anggota Mahkamah Konstitusi</option>
                                <option value="Apoteker">Apoteker</option>
                                <option value="Arsitek">Arsitek</option>
                                <option value="Biarawati">Biarawati</option>
                                <option value="Bidan">Bidan</option>
                                <option value="Bupati">Bupati</option>
                                <option value="Buruh Harian Lepas">Buruh Harian Lepas</option>
                                <option value="Buruh Nelayan / Perikanan">Buruh Nelayan / Perikanan</option>
                                <option value="Buruh Peternakan">Buruh Peternakan</option>
                                <option value="Buruh Tani / Perkebunan">Buruh Tani / Perkebunan</option>
                                <option value="Dokter">Dokter</option>
                                <option value="Dosen">Dosen</option>
                                <option value="Duta Besar">Duta Besar</option>
                                <option value="Gubernur">Gubernur</option>
                                <option value="Guru">Guru</option>
                                <option value="Imam Masjid">Imam Masjid</option>
                                <option value="Industri">Industri</option>
                                <option value="Juru Masak">Juru Masak</option>
                                <option value="Karyawan BUMD">Karyawan BUMD</option>
                                <option value="Karyawan BUMN">Karyawan BUMN</option>
                                <option value="Karyawan Honorer">Karyawan Honorer</option>
                                <option value="Karyawan Swasta">Karyawan Swasta</option>
                                <option value="Kepala Desa">Kepala Desa</option>
                                <option value="Kepolisian RI">Kepolisian RI</option>
                                <option value="Konstruksi">Konstruksi</option>
                                <option value="Konsultan">Konsultan</option>
                                <option value="Mekanik">Mekanik</option>
                                <option value="Mengurus Rumah Tangga">Mengurus Rumah Tangga</option>
                                <option value="Nelayan / Perikanan">Nelayan / Perikanan</option>
                                <option value="Notaris">Notaris</option>
                                <option value="Paraji">Paraji</option>
                                <option value="Paranormal">Paranormal</option>
                                <option value="Pastur">Pastur</option>
                                <option value="Pedagang">Pedagang</option>
                                <option value="Pegawai Negeri Sipil">Pegawai Negeri Sipil</option>
                                <option value="Pelajar / Mahasiswa">Pelajar / Mahasiswa</option>
                                <option value="Pelaut">Pelaut</option>
                                <option value="Pembantu Rumah Tangga">Pembantu Rumah Tangga</option>
                                <option value="Penata Busana">Penata Busana</option>
                                <option value="Penata Rambut">Penata Rambut</option>
                                <option value="Penata Rias">Penata Rias</option>
                                <option value="Pendeta">Pendeta</option>
                                <option value="Peneliti">Peneliti</option>
                                <option value="Pengacara">Pengacara</option>
                                <option value="Pensiunan">Pensiunan</option>
                                <option value="Penterjemah">Penterjemah</option>
                                <option value="Penyiar Radio">Penyiar Radio</option>
                                <option value="Penyiar Televisi">Penyiar Televisi</option>
                                <option value="Perancang Busana">Perancang Busana</option>
                                <option value="Perangkat Desa">Perangkat Desa</option>
                                <option value="Perawat">Perawat</option>
                                <option value="Perdagangan">Perdagangan</option>
                                <option value="Petani / Pekebun">Petani / Pekebun</option>
                                <option value="Peternak">Peternak</option>
                                <option value="Pialang">Pialang</option>
                                <option value="Pilot">Pilot</option>
                                <option value="Presiden">Presiden</option>
                                <option value="Promotor Acara">Promotor Acara</option>
                                <option value="Psikiater / Psikolog">Psikiater / Psikolog</option>
                                <option value="Seniman">Seniman</option>
                                <option value="Sopir">Sopir</option>
                                <option value="Tabib">Tabib</option>
                                <option value="Tentara Nasional Indonesia">Tentara Nasional Indonesia</option>
                                <option value="Transportasi">Transportasi</option>
                                <option value="Tukang Batu">Tukang Batu</option>
                                <option value="Tukang Cukur">Tukang Cukur</option>
                                <option value="Tukang Gigi">Tukang Gigi</option>
                                <option value="Tukang Jahit">Tukang Jahit</option>
                                <option value="Tukang Kayu">Tukang Kayu</option>
                                <option value="Tukang Las / Pandai Besi">Tukang Las / Pandai Besi</option>
                                <option value="Tukang Listrik">Tukang Listrik</option>
                                <option value="Tukang Sol Sepatu">Tukang Sol Sepatu</option>
                                <option value="Ustadz / Mubaligh">Ustadz / Mubaligh</option>
                                <option value="Wakil Bupati">Wakil Bupati</option>
                                <option value="Wakil Gubernur">Wakil Gubernur</option>
                                <option value="Wakil Presiden">Wakil Presiden</option>
                                <option value="Wakil Walikota">Wakil Walikota</option>
                                <option value="Walikota">Walikota</option>
                                <option value="Wartawan">Wartawan</option>
                                <option value="Wiraswasta">Wiraswasta</option> 
                                <option value="Lainnya">Lainnya</option>  -->

                            </select>    
                            <input type="text" id="pekerjaan" name="pekerjaan" class="form-control" placeholder="Pekerjaan" [readonly]="pekerjaanStatus!=0" [hidden]="pekerjaanStatus!=0" value="{{pekerjaanName}}" style="margin-top:10px">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Institusi</label> <label class="alert-danger">*</label>
                            <input type="text" id="institusi" name="institusi" class="form-control" placeholder="Institusi">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Tinggal Bersama</label>
                            <select class="form-control" id="tinggal_bersama" name="tinggal_bersama" (change)="selectTinggalBersama($event)">
                                <option value="">-- Tinggal Bersama --</option>  
                                <option value="Suami">Suami </option>  
                                <option value="Istri">Istri </option>  
                                <option value="Anak">Anak </option>  
                                <option value="Orang Tua">Orang Tua</option>   
                                <option value="Sendiri">Sendiri </option>  
                                <option value="Lainnya">Lainnya </option>  
                            </select>   
                            <input type="text" id="tinggal_bersama" name="tinggal_bersama" class="form-control" placeholder="Tinggal Bersama" [readonly]="tinggalBersamaStatus!=0" [hidden]="tinggalBersamaStatus!=0" value="{{tinggalBersamaName}}" style="margin-top:10px">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kunjungan</label> <label class="alert-danger">*</label>
                            <select class="form-control" id="kunjungan" name="kunjungan" (change)="selectKunjungan($event)" readonly disabled>
                                <option value="">-- Kunjungan --</option> 
                                <option value="Baru">Baru</option>
                                <option value="Lama" selected>Lama</option>  
                            </select>
                        </div>

                        <div class="form-group col-sm-4">
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <label class="">No. Telepon</label> <label class="alert-danger">*</label>
                            <input type="text" id="no_telp" name="no_telp" class="form-control" placeholder="No. Telepon">
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <label class="">Alamat</label> <label class="alert-danger">*</label>
                            <input type="text" id="alamat" name="alamat" class="form-control" placeholder="Alamat">
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <label class="">RT / RW</label> <label class="alert-danger">*</label>
                            <input type="text"  id="rtrw" name="rtrw" specialCharacters="false" class="form-control date" placeholder="__/__" mask='00/00'>
                        </div>
                             
                        <div class="form-group col-sm-4">
                            <label class="">Provinsi</label>
                            <select class="form-control" id="provinsi" name="provinsi" (change)="selectProvinsi($event)">
                                <option value="">-- Provinsi --</option> 
                                <option value="BANTEN">BANTEN</option>
                                <option value="D I YOGYAKARTA">D I YOGYAKARTA</option>
                                <option value="DKI JAKARTA">DKI JAKARTA</option>
                                <option value="JAWA BARAT" selected>JAWA BARAT</option>  
                                <option value="JAWA TENGAH">JAWA TENGAH</option>  
                                <option value="JAWA TIMUR">JAWA TIMUR</option>   
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kabupaten/Kota</label>
                            <select class="form-control" id="kabupaten" name="kabupaten" (change)="selectKabupaten($event)">
                                <option value="">-- Kabupaten/Kota --</option> 
                                <option value="KAB. BANDUNG">KAB. BANDUNG</option>
                                <option value="KAB. BEKASI">KAB. BEKASI</option>
                                <option value="KAB. BOGOR" selected>KAB. BOGOR</option>
                                <option value="KOTA BANDUNG">KOTA BANDUNG</option>
                                <option value="KOTA BEKASI">KOTA BEKASI</option>
                                <option value="KOTA BOGOR">KOTA BOGOR</option>  
                                <option value="KOTA DEPOK">KOTA DEPOK</option>    
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kecamatan</label>
                            <select class="form-control" id="kecamatan" name="kecamatan" (change)="selectKecamatan($event)">
                                <option value="">-- Kecamatan --</option> 
                                <option value="CIGUDEG">CIGUDEG</option>
                                <option value="CIJERUK">CIJERUK</option>
                                <option value="CILEUNGSI" selected>CILEUNGSI</option>
                                <option value="CIOMAS">CIOMAS</option>
                                <option value="CISARUA">CISARUA</option>
                                <option value="CISEENG">CISEENG</option>  
                                <option value="CITEUREUP">CITEUREUP</option>    
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kelurahan</label>
                            <select class="form-control" id="kelurahan" name="kelurahan" (change)="selectKelurahan($event)">
                                <option value="DAYEUH">DAYEUH</option>
                                <option value="MAMPIR">MAMPIR</option>
                                <option value="SETU SARI">SETU SARI</option>
                                <option value="CIPEUCANG">CIPEUCANG</option>
                                <option value="JATISARI">JATISARI</option>
                                <option value="GANDOANG">GANDOANG</option>
                                <option value="MEKARSARI">MEKARSARI</option>
                                <option value="CILEUNGSI KIDUL">CILEUNGSI KIDUL</option>
                                <option value="CILEUNGSI">CILEUNGSI</option>
                                <option value="LIMUS NUNGGAL">LIMUS NUNGGAL</option>
                                <option value="PASIR ANGIN">PASIR ANGIN</option>
                                <option value="CIPENJO">CIPENJO</option>
                            </select>    
                        </div>
                         
 
                    </div>
                </div>


                <hr class="page-header-line">
                <div class="col-sm-12">    
                    <div class="title-form">Formulir Data Penjamin</div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <label class="">Nama Penjamin</label> <label class="alert-danger">*</label>
                            <input type="text" id="penjamin_nama" name="penjamin_nama" class="form-control" placeholder="Nama Penjamin">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Hubungan Dengan Pasien</label> <label class="alert-danger">*</label>
                            <input type="text" id="penjamin_hubungan" name="penjamin_hubungan" class="form-control" placeholder="Hubungan Dengan Pasien">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">No. KTP</label> <label class="alert-danger">*</label>
                            <input type="text" id="penjamin_ktp" name="penjamin_ktp" class="form-control" placeholder="No. KTP">
                        </div> 
 
                        <div class="form-group col-sm-4">
                            <label class="">No. Telepon</label> <label class="alert-danger">*</label>
                            <input type="text" id="penjamin_no_telp" name="penjamin_no_telp" class="form-control" placeholder="No. Telepon">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Alamat</label> <label class="alert-danger">*</label>
                            <input type="text" id="penjamin_alamat" name="penjamin_alamat" class="form-control" placeholder="Alamat">
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <label class="">RT / RW</label> <label class="alert-danger">*</label>
                            <input type="text"  id="penjamin_rtrw" name="penjamin_rtrw" specialCharacters="false" class="form-control date" placeholder="__/__" mask='00/00'>
                        </div>
                             
                        <div class="form-group col-sm-4">
                            <label class="">Provinsi</label>
                            <select class="form-control" id="penjamin_provinsi" name="penjamin_provinsi" (change)="selectProvinsi($event)">
                                <option value="">-- Provinsi --</option> 
                                <option value="BANTEN">BANTEN</option>
                                <option value="D I YOGYAKARTA">D I YOGYAKARTA</option>
                                <option value="DKI JAKARTA">DKI JAKARTA</option>
                                <option value="JAWA BARAT" selected>JAWA BARAT</option>  
                                <option value="JAWA TENGAH">JAWA TENGAH</option>  
                                <option value="JAWA TIMUR">JAWA TIMUR</option>   
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kabupaten/Kota</label>
                            <select class="form-control" id="penjamin_kabupaten" name="penjamin_kabupaten" (change)="selectKabupaten($event)">
                                <option value="">-- Kabupaten/Kota --</option> 
                                <option value="KAB. BANDUNG">KAB. BANDUNG</option>
                                <option value="KAB. BEKASI">KAB. BEKASI</option>
                                <option value="KAB. BOGOR" selected>KAB. BOGOR</option>
                                <option value="KOTA BANDUNG">KOTA BANDUNG</option>
                                <option value="KOTA BEKASI">KOTA BEKASI</option>
                                <option value="KOTA BOGOR">KOTA BOGOR</option>  
                                <option value="KOTA DEPOK">KOTA DEPOK</option>    
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kecamatan</label>
                            <select class="form-control" id="penjamin_kecamatan" name="penjamin_kecamatan" (change)="selectKecamatan($event)">
                                <option value="">-- Kecamatan --</option> 
                                <option value="CIGUDEG">CIGUDEG</option>
                                <option value="CIJERUK">CIJERUK</option>
                                <option value="CILEUNGSI" selected>CILEUNGSI</option>
                                <option value="CIOMAS">CIOMAS</option>
                                <option value="CISARUA">CISARUA</option>
                                <option value="CISEENG">CISEENG</option>  
                                <option value="CITEUREUP">CITEUREUP</option>    
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kelurahan</label>
                            <select class="form-control" id="penjamin_kelurahan" name="penjamin_kelurahan" (change)="selectKelurahan($event)">
                                <option value="DAYEUH">DAYEUH</option>
                                <option value="MAMPIR">MAMPIR</option>
                                <option value="SETU SARI">SETU SARI</option>
                                <option value="CIPEUCANG">CIPEUCANG</option>
                                <option value="JATISARI">JATISARI</option>
                                <option value="GANDOANG">GANDOANG</option>
                                <option value="MEKARSARI">MEKARSARI</option>
                                <option value="CILEUNGSI KIDUL">CILEUNGSI KIDUL</option>
                                <option value="CILEUNGSI">CILEUNGSI</option>
                                <option value="LIMUS NUNGGAL">LIMUS NUNGGAL</option>
                                <option value="PASIR ANGIN">PASIR ANGIN</option>
                                <option value="CIPENJO">CIPENJO</option>
                            </select>    
                        </div>
                         
                    </div>
                </div>


                
                <hr class="page-header-line">
                <div class="col-sm-12">   
                    <div class="form-group row">
                        <div class="form-group col-sm-4"></div>
                        <div class="form-group col-sm-4"></div>
                        <div class="form-group col-sm-4">
                            <button type="button" (click)="showFormRujukan()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-save"></i> Simpan Data</button>
                        </div>
                    </div>
                </div>



            </div>
            </form>
        </app-card>
    </div>
</div>