<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<ng2-toasty [position]="position"></ng2-toasty>

<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Pasien Terdaftar di Poliklinik'"> 
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-3"> 
                    <select class="form-control col-sm-12" id="poliklinik" name="poliklinik" (change)='updateStatus($event)'>
                        <option value="">-- Status Pendaftaran --</option> 
                        <option value="Terdaftar">Terdaftar</option>
                        <option value="Batal">Batal</option> 
                        <option value="Selesai">Selesai</option> 
                    </select> 
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3"> 
                    <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian Nama' (keyup)='updateFilter($event)'/>
                </div> 
            </div>

            <ngx-datatable
                #table
                class='data-table'
                [columns]="columns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [scrollbarH]="true"
                [limit]="10"
                [rows]='rowsFilter'>
                <ngx-datatable-column
                    [width]="50"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="checkbox-fade fade-in-black">
                            <label>
                            <input type="checkbox" value="CSS" >
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            </label>
                        </div> 
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column 
                    name="Index" 
                    [width]="10">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong> {{row['id']}}</strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column 
                    name="Nama" 
                    [width]="200">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row['nama']}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column 
                    name="Tanggal Lahir" 
                    [width]="100" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row['tgl_lahir']}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  
                    [width]="5" >
                    <ng-template ngx-datatable-header-template>
                        <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                            <span>Usia</span>
                        </div>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;"> 
                            {{row['umur']}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column 
                    name="Tanggal Daftar" 
                    [width]="100" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row['tgl_daftar']}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  
                    [width]="100"> 
                    <ng-template ngx-datatable-header-template>
                        <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                            <span>Status Poliklinik</span>
                        </div>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                            <span class="label label-success" *ngIf="row['status_daftar'] === 'Terdaftar'">Terdaftar</span>
                            <span class="label label-default" *ngIf="row['status_daftar'] === 'Selesai'">Selesai</span>
                            <span class="label label-danger" *ngIf="row['status_daftar'] === 'Batal'">Batal</span>  
                        </div>
                    </ng-template>
                </ngx-datatable-column>  
                <ngx-datatable-column 
                    [width]="180" >
                    <ng-template ngx-datatable-header-template>
                        <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                            <span>Action</span>
                        </div>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template >
                        <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;"> 
                            <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                            <button type="button" (click)="showDetail()" class="col-sm-3 btn btn-info btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Detail"><i class="icofont icofont-search"></i></button> 
                            &emsp;
                            <button type="button" id="btnShowPrint" [hidden]="true" (click)="dataPrint.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Print</button> 
                            <button type="button" (click)="showPrint()" class="col-sm-3 btn btn-primary btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Cetak"><i class="icofont icofont-print"></i></button> 
                            &emsp;
                            <button type="button" (click)="showConfirmDelete()"class="col-sm-3 btn btn-danger btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Batal"><i class="icofont icofont-ui-delete"></i></button>
                        </div>
                    </ng-template> 
                </ngx-datatable-column> 
            </ngx-datatable>

            <app-modal-basic #dataDetail [dialogClass]="'modal-lg'">
                <div class="app-modal-header">
                    <h4 class="modal-title">Detail Pasien</h4>
                    <button type="button" class="close basic-close" (click)="dataDetail.hide()">
                        <span class="alert-danger" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="app-modal-body">
                    <div class="col-sm-12">  
                        <div class="title-form">Identitas Pasien dan Penjamin</div> 
                        <div class="card thumb-block card-box">
                            <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-sm-4"><strong>Nama Pasien</strong></label> 
                                    <label class="col-sm-8">Asep Surasep</label> 
                                </div>
                                <div class="row">
                                    <label class="col-sm-4"><strong>Jenis Kelamin </strong></label> 
                                    <label class="col-sm-8">Laki-laki</label> 
                                </div>
                                <div class="row">
                                    <label class="col-sm-4"><strong>Tempat, Tanggal Lahir</strong></label> 
                                    <label class="col-sm-8">Bandung, 28 Oktober 1978</label> 
                                </div>
                                <div class="row">
                                    <label class="col-sm-4"><strong>Usia</strong></label> 
                                    <label class="col-sm-8">40 Tahun</label> 
                                </div>  
                                <div class="row">
                                    <label class="col-sm-4"><strong>No. Telepon</strong></label> 
                                    <label class="col-sm-8">0812345678</label> 
                                </div> 
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-sm-4"><strong>Jenis Kartu</strong></label> 
                                    <label class="col-sm-8">KTP</label> 
                                </div>
                                <div class="row">
                                    <label class="col-sm-4"><strong>Nomor Kartu </strong></label> 
                                    <label class="col-sm-8">09876543312</label> 
                                </div>
                                <div class="row">
                                    <label class="col-sm-4"><strong>Pekerjaan</strong></label> 
                                    <label class="col-sm-8">PNS</label> 
                                </div>
                                <div class="row">
                                    <label class="col-sm-4"><strong>Institusi</strong></label> 
                                    <label class="col-sm-8">Disnakertrans</label> 
                                </div>  
                                <div class="row">
                                    <label class="col-sm-4"><strong>Nama Penjamin</strong></label> 
                                    <label class="col-sm-8">Tatang Supratman</label> 
                                </div> 
                            </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </app-modal-basic>

            <app-modal-basic #dataPrint [dialogClass]="'modal-lg'">
                <div class="app-modal-header">
                    <h4 class="modal-title">Cetak</h4>
                    <button type="button" class="close basic-close" (click)="dataPrint.hide()">
                        <span class="alert-danger" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="app-modal-body md-tabs">
                    <ngb-tabset>
                        <ngb-tab title="SEP">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15">
                                    <div class=" form-group row"> 
                                        <div class="col-sm-8"> 
                                        </div> 
                                        <div class="col-sm-2">  
                                            <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                        </div>
                                        <div class="col-sm-2"> 
                                            <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">  
                                        <div class="card thumb-block card-box-identitas">
                                            <div class="row">
                                            <div class="col-sm-12 row"> 
                                                <div class="col-sm-12" style="margin-left: -10px;margin-bottom: 20px;">
                                                    <img style="width:25%" src="assets/images/bpjs-logo.png"/>
                                                    <label style="margin: auto;vertical-align: middle;">SURAT ELEGIBILITAS PESERTA  <br/>RSU MARY CILEUNGSI</label>
                                                </div> 
                                                <div class="col-sm-6">
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">No. SEP</label>  
                                                        <label class="col-sm-9"> :&emsp;00123454789</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Tgl. SEP</label>  
                                                        <label class="col-sm-9"> :&emsp;2018-10-16</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">No. Kartu</label>  
                                                        <label class="col-sm-9"> :&emsp;000123345 (MR. 45688)</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Nama Peserta</label>  
                                                        <label class="col-sm-9"> :&emsp;ASEP SURASEP</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Tanggal Lahir</label>  
                                                        <label class="col-sm-4"> :&emsp;1976-10-12</label> 
                                                        <label class="col-sm-5">Kelamin&emsp;:&emsp;Laki-laki</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">No. Telepon</label>  
                                                        <label class="col-sm-9"> :&emsp;0987643312</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Sub/Spesialis</label>  
                                                        <label class="col-sm-9"> :&emsp;BEDAH</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Faskes Perujuk</label>  
                                                        <label class="col-sm-9"> :&emsp;KLINIK CILEUNGSI</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Diagnosa Awal</label>  
                                                        <label class="col-sm-9"> :&emsp;Getah Bening</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Catatan</label>  
                                                        <label class="col-sm-9"> :&emsp;-</label> 
                                                    </div> 
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Peserta</label>  
                                                        <label class="col-sm-9"> :&emsp;PEKERJA MANDIRI</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">COB</label>  
                                                        <label class="col-sm-9"> :&emsp;-</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Jns. Rawat</label>  
                                                        <label class="col-sm-9"> :&emsp;R. Jalan</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Kls. Rawat</label>  
                                                        <label class="col-sm-9"> :&emsp;-</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-3">Penjamin</label>  
                                                        <label class="col-sm-9"> :&emsp;-</label> 
                                                    </div> 
                                                </div>
                                                
                                                <div class="col-sm-8" style="margin-top:40px">
                                                    <label class="col-sm-12">
                                                        *Saya menyetujui BPJS Kesehatan menggunakan informasi medis pasien jika diperlukan.
                                                        <br/>
                                                        SEP Bukan sebagai bukti penjaminan peserta.
                                                    </label>
                                                    <label class="col-sm-12" style="margin-top:5px;"> Cetakan ke 1 16-10-2018 09:49</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="col-sm-12" style="text-align: center;">PASIEN / KELUARGA PASIEN</label>  
                                                    <br/><br/><br/><br/><br/>
                                                    <label class="col-sm-12"><hr style="border-bottom: 0.5px solid #8c8b8b;"></label>
                                                </div> 
                                            </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="NJM">
                            <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate] class="m-t-15">
                                <div class=" form-group row"> 
                                    <div class="col-sm-8"> 
                                    </div> 
                                    <div class="col-sm-2">  
                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                    </div>
                                    <div class="col-sm-2"> 
                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                    </div>
                                </div> 
                                <div class="col-sm-12">  
                                    <div class="card thumb-block card-box-identitas">
                                        <div class="col-sm-12">
                                            <div class="col-sm-12 row">
                                                <div class="col-sm-7 row" style="height: min-content;"> 
                                                    <label class="col-sm-12" style="height: 15.44px; text-align: left">RS MARY CILEUNGSI HIJAU</label>  
                                                    <label class="col-sm-12" style="height: 15.44px; text-align: left">Jl. Raya Narogong KM 21</label>  
                                                    <label class="col-sm-12" style="height: 15.44px; text-align: left">Telp. 9249 2222 </label>  
                                                    <label class="col-sm-12" style="height: 15.44px; text-align: left">Fax. 9249 3902</label> 
                                                </div>
                                                <div class="col-sm-5 row" style="height: min-content;">
                                                    <label class="col-sm-4" style="height: 15.44px; text-align: right">No. Nota :</label> 
                                                    <label class="col-sm-8" style="height: 15.44px; text-align: left">NJM/10/2018/00295</label> 
                                                    <label class="col-sm-4" style="height: 15.44px; text-align: right">Tanggal Daftar : </label> 
                                                    <label class="col-sm-8" style="height: 15.44px; text-align: left">16 Oktober 2018 12:45</label>  
                                                    <label class="col-sm-4" style="height: 15.44px; text-align: right">Tanggal Praktek : </label> 
                                                    <label class="col-sm-8" style="height: 15.44px; text-align: left">16 Oktober 2018</label>  
                                                    <label class="col-sm-4" style="height: 15.44px; text-align: right">Waktu Praktek :  </label>  
                                                    <label class="col-sm-8" style="height: 15.44px; text-align: left">Sore </label>  
                                                    <label class="col-sm-4" style="height: 15.44px; text-align: right">No. Antrian : </label>  
                                                    <label class="col-sm-8" style="height: 15.44px; text-align: left">9 </label>  
                                                </div>  
                                            </div>  
                                            <div class="col-sm-12 row">
                                                <hr class="col-sm-12" style="border-top: 2px dashed #8c8b8b; margin-top:10px; margin-bottom: 10px;">
                                                <label class="col-sm-12" style="text-align: center;">NOTA JASA MEDIS RAWAT JALAN</label>   
                                                <hr class="col-sm-12" style="border-top: 2px dashed #8c8b8b; margin-top:0px; margin-bottom: 10px;">
                                            </div> 
                                            <div class="col-sm-12 row">
                                                <div class="col-sm-6"> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-4">Pasien</label>  
                                                        <label class="col-sm-8"> :&emsp;4567890 / Asep Surasep</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-4">Kelas</label>  
                                                        <label class="col-sm-8"> :&emsp;001 / Rawat Jalan</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-4">Dokter</label>  
                                                        <label class="col-sm-8"> :&emsp;dr. Bambang</label> 
                                                    </div> 
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-4">Jaminan</label>  
                                                        <label class="col-sm-8"> :&emsp;BPJS</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-4">Penjamin</label>  
                                                        <label class="col-sm-8"> :&emsp;Asep Surasep</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-4">Spesialistik</label>  
                                                        <label class="col-sm-8"> :&emsp;Spesialis Mata</label> 
                                                    </div> 
                                                    <div class="row" style="height: 20.44px;">
                                                        <label class="col-sm-4">Nomor SEP</label>  
                                                        <label class="col-sm-8"> :&emsp;123456789</label> 
                                                    </div> 
                                                </div> 
                                                <hr class="col-sm-12" style="border-top: 3px double #8c8b8b; margin-top:10px; margin-bottom: 20px;">
                                            </div> 
                                            <div class="row"> 
                                                <label class="col-sm-2">&emsp;&emsp;TINDAKAN&emsp;&emsp;</label>  
                                                <label class="col-sm-10"><hr style="border-bottom: 0.5px solid #8c8b8b; margin-top:30px; margin-bottom: 10px;"></label>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2">&emsp;&emsp;DIAGNOSA&emsp;&emsp;</label>  
                                                <label class="col-sm-10"><hr style="border-bottom: 0.5px solid #8c8b8b; margin-top:30px; margin-bottom: 10px;"></label>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2">&emsp;&emsp;LAINNYA&emsp;&emsp;</label>  
                                                <label class="col-sm-10"><hr style="border-bottom: 0.5px solid #8c8b8b; margin-top:30px; margin-bottom: 10px;"></label>
                                            </div>
                                            
                                            <hr style="border-top: 2px dashed #8c8b8b; margin-top:20px; margin-bottom: 10px;">

                                            <div class="row col-sm-12"> 
                                                <div class="row col-sm-6"> 
                                                    <label class="col-sm-8" style="text-align: center">Petugas</label>  
                                                    <label class="col-sm-4"></label>  
                                                    <br/><br/><br/><br/>
                                                    <label class="col-sm-8" style="text-align: center">Tri Astuti</label>  
                                                    <label class="col-sm-4"></label>  
                                                </div>
                                                <div class="row col-sm-6"> 
                                                    <label class="col-sm-4"></label>   
                                                    <label class="col-sm-8" style="text-align: center">Dokter</label> 
                                                    <br/><br/><br/><br/>
                                                    <label class="col-sm-4"></label>  
                                                    <label class="col-sm-8" style="text-align: center">dr. Bambang</label> 
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6"> 
                                                    
                                                </div>
                                            </div> 
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            </ng-template>
                        </ngb-tab>                                  
                        <ngb-tab title="IDENTITAS">
                            <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate] class="m-t-15">
                                <div class=" form-group row"> 
                                    <div class="col-sm-8"> 
                                    </div> 
                                    <div class="col-sm-2">  
                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                    </div>
                                    <div class="col-sm-2"> 
                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                    </div>
                                </div> 
                                <div class="col-sm-12">  
                                    <div class="card thumb-block card-box-identitas">
                                        <div class="" style="text-align: center"><strong>FORM IDENTITAS PASIEN</strong></div> 
                                        <br>
                                        <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4">NAMA PASIEN / JENIS KELAMIN</label>  
                                                <div class="col-sm-8 row">
                                                    <label class="col-sm-6"> :&emsp;Asep Surasep</label> 
                                                    <label class="col-sm-6">
                                                        <div class="checkbox-fade fade-in-black">
                                                            <label>
                                                            <input type="checkbox" value="CSS" checked>
                                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                            <span>P</span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox-fade fade-in-black">
                                                            <label>
                                                            <input type="checkbox" value="CSS" >
                                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                            <span>L</span>
                                                            </label>
                                                        </div> 
                                                    </label> 
                                                </div>
                                            </div>
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4">NOMOR KTP</label>  
                                                <label class="col-sm-8"> :&emsp;324567890</label> 
                                            </div> 
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4">TEMPAT, TANGGAL LAHIR</label>  
                                                <label class="col-sm-8"> :&emsp;Bandung, 28 Oktober 1978</label> 
                                            </div> 
                                            <div class="row">
                                                <label class="col-sm-4">AGAMA</label>  
                                                <label class="col-sm-8"> :&emsp;<span class="badge badge-circle">Islam</span> / Kristen / Katolik / Hindu / Budha / Kong Hu Cu / Lainnya ________
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4">STATUS PERNIKAHAN</label>  
                                                <label class="col-sm-8"> :&emsp;<span class="badge badge-circle">Single</span> / Menikah / Bercerai / Janda / Duda / Lainnya ________
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4">PENDIDIKAN TERAKHIR</label>  
                                                <label class="col-sm-8"> :&emsp;SD / SMP / <span class="badge badge-circle">SMA </span>/ Akademi / Sarjana / Lainnya ________
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4">PEKERJAAN </label> 
                                                <label class="col-sm-8"> :&emsp;PNS / Swasta / <span class="badge badge-circle">TNI </span>/ POLRI / Tidak Bekerja / Lainnya ________
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4">TINGGAL BERSAMA </label> 
                                                <label class="col-sm-8"> :&emsp;Suami / Istri / <span class="badge badge-circle">Anak </span>/ Orang Tua / Sendiri / Lainnya ________
                                                </label>
                                            </div>
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4"></label> 
                                                <div class="col-sm-8 row">
                                                    <label class="col-sm-6">&nbsp;&emsp;Nama :&emsp;Tatang</label> 
                                                    <label class="col-sm-6">No. Telp. :&emsp;081234567</label> 
                                                </div>
                                            </div>
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4">ALAMAT PASIEN</label>  
                                                <label class="col-sm-8"> :&emsp;Jalan Peta Gang Dalang No 14, RT 01, RW 02</label> 
                                            </div> 
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4"></label>  
                                                <label class="col-sm-8">&nbsp;&emsp;Kel. Lingkar Selatan, Kec. Lengkong, Kota Bandung</label> 
                                            </div> 
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4">NO. TELP.</label>  
                                                <label class="col-sm-8"> :&emsp;087324567890</label> 
                                            </div> 
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-4"><strong>NO. RM.</strong></label>  
                                                <label class="col-sm-8"><strong> :&emsp;324567890</strong></label> 
                                            </div> 
                                            <br/>
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-12"><strong>Dengan ini kami menyatakan bahwa identitas pasien tsb di atas, dibuat dengan sebenarnya (sesuai dengan KTP/KK) yang masih berlaku.</strong></label>  
                                            </div> 
                                            <br/>
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-1"></label>  
                                                <label class="col-sm-4" style="text-align: center;"><strong>Pasien / Penjamin Pasien</strong></label>  
                                                <label class="col-sm-2"></label>  
                                                <label class="col-sm-4" style="text-align: center;"><strong>Petugas Pendaftaran</strong></label> 
                                                <label class="col-sm-1"></label>   
                                            </div> 
                                            <br/><br/><br/><br/>
                                            <div class="row" style="height: 30.44px;">
                                                <label class="col-sm-1"></label>  
                                                <label class="col-sm-4" style="text-align: center;"><strong>Tanda Tangan & Nama Jelas</strong></label>  
                                                <label class="col-sm-2"></label>  
                                                <label class="col-sm-4" style="text-align: center;"><strong>Tanda Tangan & Nama Jelas</strong></label> 
                                                <label class="col-sm-1"></label>   
                                            </div> 
                                        </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="LABEL">
                            <ng-template ngbTabContent>
                            <div [@fadeInOutTranslate] class="m-t-15">
                                <div class=" form-group row"> 
                                    <div class="col-sm-8"> 
                                    </div> 
                                    <div class="col-sm-2">  
                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                    </div>
                                    <div class="col-sm-2"> 
                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                    </div>
                                </div> 
                                <div class="col-sm-12">  
                                    <div class="card thumb-block card-box-identitas" style="width: 920px; margin: auto;">
                                        <div class="row">
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                            <div class="card thumb-block card-box-label">  
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                    <div class="col-sm-8"><label>12345678</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                    <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                    <div class="col-sm-8"><label>23-12-1976</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div> 
            </app-modal-basic>

        </app-card>
    </div>
</div>