<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<ng2-toasty [position]="position"></ng2-toasty>

<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Pendaftaran Pasien Rawat Jalan Poliklinik'">  
            <!-- <div class="row">  -->
                <div class="col-sm-12">  
                    <div class="title-form">Identitas Pasien dan Penjamin</div> 
                    <div class="card thumb-block card-box">
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <label class="col-sm-4"><strong>Nama Pasien</strong></label> 
                                <label class="col-sm-8">Asep Surasep</label> 
                            </div>
                            <div class="row">
                                <label class="col-sm-4"><strong>Jenis Kelamin </strong></label> 
                                <label class="col-sm-8">Laki-laki</label> 
                            </div>
                            <div class="row">
                                <label class="col-sm-4"><strong>Tempat, Tanggal Lahir</strong></label> 
                                <label class="col-sm-8">Bandung, 28 Oktober 1978</label> 
                            </div>
                            <div class="row">
                                <label class="col-sm-4"><strong>Usia</strong></label> 
                                <label class="col-sm-8">40 Tahun</label> 
                            </div>  
                            <div class="row">
                                <label class="col-sm-4"><strong>No. Telepon</strong></label> 
                                <label class="col-sm-8">0812345678</label> 
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label class="col-sm-4"><strong>Jenis Kartu</strong></label> 
                                <label class="col-sm-8">KTP</label> 
                            </div>
                            <div class="row">
                                <label class="col-sm-4"><strong>Nomor Kartu </strong></label> 
                                <label class="col-sm-8">09876543312</label> 
                            </div>
                            <div class="row">
                                <label class="col-sm-4"><strong>Pekerjaan</strong></label> 
                                <label class="col-sm-8">PNS</label> 
                            </div>
                            <div class="row">
                                <label class="col-sm-4"><strong>Institusi</strong></label> 
                                <label class="col-sm-8">Disnakertrans</label> 
                            </div>  
                            <div class="row">
                                <label class="col-sm-4"><strong>Nama Penjamin</strong></label> 
                                <label class="col-sm-8">Tatang Supratman</label> 
                            </div> 
                        </div>
                        </div>
                    </div>  
                </div>



                <br/>
                <form>
                <div class="">
                    <hr class="page-header-line">
                    <div class="col-sm-12"> 
                        <div class="title-form">Formulir Poliklinik / SEP</div>

                        <div class="form-group row">
                            <div class="form-group col-sm-4">
                                <label class="">Poliklinik</label> <label class="alert-danger">*</label>
                                <div class="row">
                                    <div class="col-sm-8">
                                    <select class="form-control" id="poliklinik" name="poliklinik">
                                        <option value="">-- Poliklinik --</option> 
                                        <option value="Penyakit Dalam">Penyakit Dalam</option>
                                        <option value="THT">THT</option> 
                                    </select>
                                    </div>
                                    <div class="col-sm-4" style="margin: auto;">
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                                        <input type="checkbox" value="CSS" >
                                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                        <span>Eksekutif</span>
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">Dokter</label> <label class="alert-danger">*</label>
                                <select class="form-control" id="dokter" name="dokter">
                                    <option value="">-- Dokter --</option> 
                                    <option value="dr. Asep">dr. Asep</option>
                                    <option value="dr. Tatang">dr. Tatang</option> 
                                </select>
                            </div>

                            <div class="form-group col-sm-2">
                                <label class="">Tanggal Daftar</label> <label class="alert-danger">*</label>
                                <input type="text" id="tanggal_daftar" name="tanggal_daftar"  class="form-control" placeholder="Tanggal Daftar" (click)="d1.toggle()"  dateFormat="'DD-MM-YYYY'" [(ngModel)]="tanggal_daftar" ngbDatepicker #d1="ngbDatepicker">
                            </div>

                            <div class="form-group col-sm-2">
                                <label class="">Waktu Praktek</label> <label class="alert-danger">*</label>
                                <select class="form-control" id="waktu_praktek" name="waktu_praktek">
                                    <option value="">-- Waktu Praktek --</option> 
                                    <option value="Pagi">Pagi</option>
                                    <option value="Sore">Sore</option> 
                                </select>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">Asal Rujukan</label> <label class="alert-danger">*</label>
                                <input type="text" id="asal_rujukan" name="asal_rujukan"  class="form-control" placeholder="Asal Rujukan" readonly>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">PPK Asal Rujukan</label>
                                <input type="text" id="ppk_asal_rujukan" name="ppk_asal_rujukan" class="form-control" placeholder="PPK Asal Rujukan" readonly>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">Tanggal Rujukan</label>
                                <input type="text" id="tanggal_rujukan" name="tanggal_rujukan"  class="form-control" placeholder="Tanggal Rujukan" (click)="d2.toggle()"  dateFormat="'DD-MM-YYYY'" [(ngModel)]="tanggal_rujukan" ngbDatepicker #d2="ngbDatepicker" readonly>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">No. Rujukan</label>
                                <input type="text" id="no_rujukan" name="no_rujukan" class="form-control" placeholder="No. Rujukan" readonly>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">No. Surat Kontrol / SKDP</label>
                                <input type="text" id="no_surat_kontrol" name="no_surat_kontrol" class="form-control" placeholder="No. Surat Kontrol / SKDP">
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">No. MR</label> <label class="alert-danger">*</label>
                                <div class="row">
                                    <div class="col-sm-8"> 
                                    <input type="text" id="no_mr" name="no_mr" class="form-control" placeholder="No. MR">
                                    </div>
                                    <div class="col-sm-4" style="margin: auto;">
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                                        <input type="checkbox" value="CSS" >
                                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                        <span>Peserta COB</span>
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="">Diagnosa</label>
                                <input type="text" id="diagnosa" name="diagnosa" class="form-control" placeholder="Diagnosa">
                            </div>
                            
                            <div class="form-group col-sm-4">
                                <label class="">Catatan</label>
                                <input type="text" id="catatan" name="catatan" class="form-control" placeholder="Catatan">
                            </div>

                            <div class="form-group col-sm-4"> 
                                <div class="badge-box">
                                    <div class="">Nomor Antrian</div>
                                    <div class="p-1"><label class="badge badge-lg bg-primary big-font">9</label> </div>
                                </div> 
                            </div>
                        </div>
                    </div>

                    <hr class="page-header-line">
                    <div class="col-sm-12"> 
                        <div class="title-form">Cara Bayar</div>

                        <div class="form-group row">
                            <div class="form-group col-sm-3">
                                <label class="">Klasifikasi Pasien</label> <label class="alert-danger">*</label> 
                                <select class="form-control" id="klasifikasi_pasien" name="klasifikasi_pasien">
                                    <option value="">-- Klasifikasi Pasien --</option> 
                                    <option value="BPJS">BPJS</option>
                                    <option value="Asuransi">Asuransi</option> 
                                    <option value="Mandiri">Mandiri</option> 
                                </select>  
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="">Jenis Kartu Jaminan</label> <label class="alert-danger">*</label>
                                <select class="form-control" id="jenis_kartu_jaminan" name="jenis_kartu_jaminan">
                                    <option value="">-- Jenis Kartu Jaminan --</option> 
                                    <option value="BPJS">BPJS</option>
                                    <option value="Asuransi">Asuransi</option> 
                                    <option value="Mandiri">Mandiri</option> 
                                </select>
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="">Nama Perusahaan</label> <label class="alert-danger">*</label>
                                <input type="text" id="nama_perusahaan" name="nama_perusahaan"  class="form-control" placeholder="Nama Perusahaan">
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="">Nomor Induk Pegawai</label> <label class="alert-danger">*</label>
                                <input type="text" id="nomor_induk_pegawai" name="nomor_induk_pegawai"  class="form-control" placeholder="Nomor Induk Pegawai">
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="">Nomor Kartu Jaminan</label> <label class="alert-danger">*</label>
                                <input type="text" id="nomor_kartu_jaminan" name="nomor_kartu_jaminan"  class="form-control" placeholder="Nomor Kartu Jaminan">
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="">Nama Di Kartu Jaminan</label> <label class="alert-danger">*</label>
                                <input type="text" id="nama_di_kartu_jaminan" name="nama_di_kartu_jaminan"  class="form-control" placeholder="Nama Di Kartu Jaminan">
                            </div>
 
                            <div class="form-group col-sm-3">
                                <label class="">Tanggal Berlaku</label>
                                <input type="text" id="tanggal_berlaku" name="tanggal_berlaku"  class="form-control" placeholder="Tanggal Berlaku" (click)="d3.toggle()"  dateFormat="'DD-MM-YYYY'" [(ngModel)]="tanggal_berlaku" ngbDatepicker #d3="ngbDatepicker">
                            </div>
 
                            <div class="form-group col-sm-3">
                                <label class="">Tanggal Kadaluarsa</label>
                                <input type="text" id="tanggal_kadaluarsa" name="tanggal_kadaluarsa"  class="form-control" placeholder="Tanggal Kadaluarsa" (click)="d4.toggle()"  dateFormat="'DD-MM-YYYY'" [(ngModel)]="tanggal_kadaluarsa" ngbDatepicker #d4="ngbDatepicker">
                            </div>
 
                            <div class="form-group col-sm-3">
                                <label class="">Jenis Rujukan</label> <label class="alert-danger">*</label>
                                <select class="form-control" id="jenis_rujukan" name="jenis_rujukan">
                                    <option value="">-- Jenis Kartu Rujukan --</option> 
                                    <option value="Datang Sendiri">Datang Sendiri</option>
                                    <option value="BPJS">BPJS</option>  
                                </select>
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="">Perujuk</label> <label class="alert-danger">*</label>
                                <input type="text" id="perujuk" name="perujuk"  class="form-control" placeholder="Perujuk">
                            </div>
                        </div>


                        <hr class="page-header-line">
                        <div class="col-sm-12">   
                            <div class="form-group row">
                                <div class="form-group col-sm-4"></div>
                                <div class="form-group col-sm-4"></div>
                                <div class="form-group col-sm-4">
                                    <button type="button" id="btnShowPrint" [hidden]="true" (click)="dataPrint.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Print</button> 
                                    <button type="button" (click)="showPrint()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-save"></i> Proses</button>
                                </div>
                            </div>
                        </div>

                        <app-modal-basic #dataPrint [dialogClass]="'modal-lg'">
                            <div class="app-modal-header">
                                <h4 class="modal-title">Cetak</h4>
                                <button type="button" class="close basic-close" (click)="dataPrint.hide()">
                                    <span class="alert-danger" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="app-modal-body md-tabs">
                                <ngb-tabset>
                                    <ngb-tab title="SEP">
                                        <ng-template ngbTabContent>
                                            <div [@fadeInOutTranslate] class="m-t-15">
                                                <div class=" form-group row"> 
                                                    <div class="col-sm-8"> 
                                                    </div> 
                                                    <div class="col-sm-2">  
                                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                                    </div>
                                                    <div class="col-sm-2"> 
                                                        <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                                    </div>
                                                </div> 
                                                <div class="col-sm-12">  
                                                    <div class="card thumb-block card-box-identitas">
                                                        <div class="row">
                                                        <div class="col-sm-12 row"> 
                                                            <div class="col-sm-12" style="margin-left: -10px;margin-bottom: 20px;">
                                                                <img style="width:25%" src="assets/images/bpjs-logo.png"/>
                                                                <label style="margin: auto;vertical-align: middle;">SURAT ELEGIBILITAS PESERTA  <br/>RSU MARY CILEUNGSI</label>
                                                            </div> 
                                                            <div class="col-sm-6">
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">No. SEP</label>  
                                                                    <label class="col-sm-9"> :&emsp;00123454789</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Tgl. SEP</label>  
                                                                    <label class="col-sm-9"> :&emsp;2018-10-16</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">No. Kartu</label>  
                                                                    <label class="col-sm-9"> :&emsp;000123345 (MR. 45688)</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Nama Peserta</label>  
                                                                    <label class="col-sm-9"> :&emsp;ASEP SURASEP</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Tanggal Lahir</label>  
                                                                    <label class="col-sm-4"> :&emsp;1976-10-12</label> 
                                                                    <label class="col-sm-5">Kelamin&emsp;:&emsp;Laki-laki</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">No. Telepon</label>  
                                                                    <label class="col-sm-9"> :&emsp;0987643312</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Sub/Spesialis</label>  
                                                                    <label class="col-sm-9"> :&emsp;BEDAH</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Faskes Perujuk</label>  
                                                                    <label class="col-sm-9"> :&emsp;KLINIK CILEUNGSI</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Diagnosa Awal</label>  
                                                                    <label class="col-sm-9"> :&emsp;Getah Bening</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Catatan</label>  
                                                                    <label class="col-sm-9"> :&emsp;-</label> 
                                                                </div> 
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Peserta</label>  
                                                                    <label class="col-sm-9"> :&emsp;PEKERJA MANDIRI</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">COB</label>  
                                                                    <label class="col-sm-9"> :&emsp;-</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Jns. Rawat</label>  
                                                                    <label class="col-sm-9"> :&emsp;R. Jalan</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Kls. Rawat</label>  
                                                                    <label class="col-sm-9"> :&emsp;-</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-3">Penjamin</label>  
                                                                    <label class="col-sm-9"> :&emsp;-</label> 
                                                                </div> 
                                                            </div>
                                                            
                                                            <div class="col-sm-8" style="margin-top:40px">
                                                                <label class="col-sm-12">
                                                                    *Saya menyetujui BPJS Kesehatan menggunakan informasi medis pasien jika diperlukan.
                                                                    <br/>
                                                                    SEP Bukan sebagai bukti penjaminan peserta.
                                                                </label>
                                                                <label class="col-sm-12" style="margin-top:5px;"> Cetakan ke 1 16-10-2018 09:49</label>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="col-sm-12" style="text-align: center;">PASIEN / KELUARGA PASIEN</label>  
                                                                <br/><br/><br/><br/><br/>
                                                                <label class="col-sm-12"><hr style="border-bottom: 0.5px solid #8c8b8b;"></label>
                                                            </div> 
                                                        </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="NJM">
                                        <ng-template ngbTabContent>
                                        <div [@fadeInOutTranslate] class="m-t-15">
                                            <div class=" form-group row"> 
                                                <div class="col-sm-8"> 
                                                </div> 
                                                <div class="col-sm-2">  
                                                    <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                                </div>
                                                <div class="col-sm-2"> 
                                                    <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                                </div>
                                            </div> 
                                            <div class="col-sm-12">  
                                                <div class="card thumb-block card-box-identitas">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-12 row">
                                                            <div class="col-sm-7 row" style="height: min-content;"> 
                                                                <label class="col-sm-12" style="height: 15.44px; text-align: left">RS MARY CILEUNGSI HIJAU</label>  
                                                                <label class="col-sm-12" style="height: 15.44px; text-align: left">Jl. Raya Narogong KM 21</label>  
                                                                <label class="col-sm-12" style="height: 15.44px; text-align: left">Telp. 9249 2222 </label>  
                                                                <label class="col-sm-12" style="height: 15.44px; text-align: left">Fax. 9249 3902</label> 
                                                            </div>
                                                            <div class="col-sm-5 row" style="height: min-content;">
                                                                <label class="col-sm-4" style="height: 15.44px; text-align: right">No. Nota :</label> 
                                                                <label class="col-sm-8" style="height: 15.44px; text-align: left">NJM/10/2018/00295</label> 
                                                                <label class="col-sm-4" style="height: 15.44px; text-align: right">Tanggal Daftar : </label> 
                                                                <label class="col-sm-8" style="height: 15.44px; text-align: left">16 Oktober 2018 12:45</label>  
                                                                <label class="col-sm-4" style="height: 15.44px; text-align: right">Tanggal Praktek : </label> 
                                                                <label class="col-sm-8" style="height: 15.44px; text-align: left">16 Oktober 2018</label>  
                                                                <label class="col-sm-4" style="height: 15.44px; text-align: right">Waktu Praktek :  </label>  
                                                                <label class="col-sm-8" style="height: 15.44px; text-align: left">Sore </label>  
                                                                <label class="col-sm-4" style="height: 15.44px; text-align: right">No. Antrian : </label>  
                                                                <label class="col-sm-8" style="height: 15.44px; text-align: left">9 </label>  
                                                            </div>  
                                                        </div>  
                                                        <div class="col-sm-12 row">
                                                            <hr class="col-sm-12" style="border-top: 2px dashed #8c8b8b; margin-top:10px; margin-bottom: 10px;">
                                                            <label class="col-sm-12" style="text-align: center;">NOTA JASA MEDIS RAWAT JALAN</label>   
                                                            <hr class="col-sm-12" style="border-top: 2px dashed #8c8b8b; margin-top:0px; margin-bottom: 10px;">
                                                        </div> 
                                                        <div class="col-sm-12 row">
                                                            <div class="col-sm-6"> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-4">Pasien</label>  
                                                                    <label class="col-sm-8"> :&emsp;4567890 / Asep Surasep</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-4">Kelas</label>  
                                                                    <label class="col-sm-8"> :&emsp;001 / Rawat Jalan</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-4">Dokter</label>  
                                                                    <label class="col-sm-8"> :&emsp;dr. Bambang</label> 
                                                                </div> 
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-4">Jaminan</label>  
                                                                    <label class="col-sm-8"> :&emsp;BPJS</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-4">Penjamin</label>  
                                                                    <label class="col-sm-8"> :&emsp;Asep Surasep</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-4">Spesialistik</label>  
                                                                    <label class="col-sm-8"> :&emsp;Spesialis Mata</label> 
                                                                </div> 
                                                                <div class="row" style="height: 20.44px;">
                                                                    <label class="col-sm-4">Nomor SEP</label>  
                                                                    <label class="col-sm-8"> :&emsp;123456789</label> 
                                                                </div> 
                                                            </div> 
                                                            <hr class="col-sm-12" style="border-top: 3px double #8c8b8b; margin-top:10px; margin-bottom: 20px;">
                                                        </div> 
                                                        <div class="row"> 
                                                            <label class="col-sm-2">&emsp;&emsp;TINDAKAN&emsp;&emsp;</label>  
                                                            <label class="col-sm-10"><hr style="border-bottom: 0.5px solid #8c8b8b; margin-top:30px; margin-bottom: 10px;"></label>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2">&emsp;&emsp;DIAGNOSA&emsp;&emsp;</label>  
                                                            <label class="col-sm-10"><hr style="border-bottom: 0.5px solid #8c8b8b; margin-top:30px; margin-bottom: 10px;"></label>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2">&emsp;&emsp;LAINNYA&emsp;&emsp;</label>  
                                                            <label class="col-sm-10"><hr style="border-bottom: 0.5px solid #8c8b8b; margin-top:30px; margin-bottom: 10px;"></label>
                                                        </div>
                                                        
                                                        <hr style="border-top: 2px dashed #8c8b8b; margin-top:20px; margin-bottom: 10px;">
    
                                                        <div class="row col-sm-12"> 
                                                            <div class="row col-sm-6"> 
                                                                <label class="col-sm-8" style="text-align: center">Petugas</label>  
                                                                <label class="col-sm-4"></label>  
                                                                <br/><br/><br/><br/>
                                                                <label class="col-sm-8" style="text-align: center">Tri Astuti</label>  
                                                                <label class="col-sm-4"></label>  
                                                            </div>
                                                            <div class="row col-sm-6"> 
                                                                <label class="col-sm-4"></label>   
                                                                <label class="col-sm-8" style="text-align: center">Dokter</label> 
                                                                <br/><br/><br/><br/>
                                                                <label class="col-sm-4"></label>  
                                                                <label class="col-sm-8" style="text-align: center">dr. Bambang</label> 
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6"> 
                                                                
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        </ng-template>
                                    </ngb-tab>                                  
                                    <ngb-tab title="IDENTITAS">
                                        <ng-template ngbTabContent>
                                        <div [@fadeInOutTranslate] class="m-t-15">
                                            <div class=" form-group row"> 
                                                <div class="col-sm-8"> 
                                                </div> 
                                                <div class="col-sm-2">  
                                                    <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                                </div>
                                                <div class="col-sm-2"> 
                                                    <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                                </div>
                                            </div> 
                                            <div class="col-sm-12">  
                                                <div class="card thumb-block card-box-identitas">
                                                    <div class="" style="text-align: center"><strong>FORM IDENTITAS PASIEN</strong></div> 
                                                    <br>
                                                    <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4">NAMA PASIEN / JENIS KELAMIN</label>  
                                                            <div class="col-sm-8 row">
                                                                <label class="col-sm-6"> :&emsp;Asep Surasep</label> 
                                                                <label class="col-sm-6">
                                                                    <div class="checkbox-fade fade-in-black">
                                                                        <label>
                                                                        <input type="checkbox" value="CSS" checked>
                                                                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                                        <span>P</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="checkbox-fade fade-in-black">
                                                                        <label>
                                                                        <input type="checkbox" value="CSS" >
                                                                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                                        <span>L</span>
                                                                        </label>
                                                                    </div> 
                                                                </label> 
                                                            </div>
                                                        </div>
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4">NOMOR KTP</label>  
                                                            <label class="col-sm-8"> :&emsp;324567890</label> 
                                                        </div> 
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4">TEMPAT, TANGGAL LAHIR</label>  
                                                            <label class="col-sm-8"> :&emsp;Bandung, 28 Oktober 1978</label> 
                                                        </div> 
                                                        <div class="row">
                                                            <label class="col-sm-4">AGAMA</label>  
                                                            <label class="col-sm-8"> :&emsp;<span class="badge badge-circle">Islam</span> / Kristen / Katolik / Hindu / Budha / Kong Hu Cu / Lainnya ________
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4">STATUS PERNIKAHAN</label>  
                                                            <label class="col-sm-8"> :&emsp;<span class="badge badge-circle">Single</span> / Menikah / Bercerai / Janda / Duda / Lainnya ________
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4">PENDIDIKAN TERAKHIR</label>  
                                                            <label class="col-sm-8"> :&emsp;SD / SMP / <span class="badge badge-circle">SMA </span>/ Akademi / Sarjana / Lainnya ________
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4">PEKERJAAN </label> 
                                                            <label class="col-sm-8"> :&emsp;PNS / Swasta / <span class="badge badge-circle">TNI </span>/ POLRI / Tidak Bekerja / Lainnya ________
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4">TINGGAL BERSAMA </label> 
                                                            <label class="col-sm-8"> :&emsp;Suami / Istri / <span class="badge badge-circle">Anak </span>/ Orang Tua / Sendiri / Lainnya ________
                                                            </label>
                                                        </div>
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4"></label> 
                                                            <div class="col-sm-8 row">
                                                                <label class="col-sm-6">&nbsp;&emsp;Nama :&emsp;Tatang</label> 
                                                                <label class="col-sm-6">No. Telp. :&emsp;081234567</label> 
                                                            </div>
                                                        </div>
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4">ALAMAT PASIEN</label>  
                                                            <label class="col-sm-8"> :&emsp;Jalan Peta Gang Dalang No 14, RT 01, RW 02</label> 
                                                        </div> 
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4"></label>  
                                                            <label class="col-sm-8">&nbsp;&emsp;Kel. Lingkar Selatan, Kec. Lengkong, Kota Bandung</label> 
                                                        </div> 
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4">NO. TELP.</label>  
                                                            <label class="col-sm-8"> :&emsp;087324567890</label> 
                                                        </div> 
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-4"><strong>NO. RM.</strong></label>  
                                                            <label class="col-sm-8"><strong> :&emsp;324567890</strong></label> 
                                                        </div> 
                                                        <br/>
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-12"><strong>Dengan ini kami menyatakan bahwa identitas pasien tsb di atas, dibuat dengan sebenarnya (sesuai dengan KTP/KK) yang masih berlaku.</strong></label>  
                                                        </div> 
                                                        <br/>
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-1"></label>  
                                                            <label class="col-sm-4" style="text-align: center;"><strong>Pasien / Penjamin Pasien</strong></label>  
                                                            <label class="col-sm-2"></label>  
                                                            <label class="col-sm-4" style="text-align: center;"><strong>Petugas Pendaftaran</strong></label> 
                                                            <label class="col-sm-1"></label>   
                                                        </div> 
                                                        <br/><br/><br/><br/>
                                                        <div class="row" style="height: 30.44px;">
                                                            <label class="col-sm-1"></label>  
                                                            <label class="col-sm-4" style="text-align: center;"><strong>Tanda Tangan & Nama Jelas</strong></label>  
                                                            <label class="col-sm-2"></label>  
                                                            <label class="col-sm-4" style="text-align: center;"><strong>Tanda Tangan & Nama Jelas</strong></label> 
                                                            <label class="col-sm-1"></label>   
                                                        </div> 
                                                    </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="LABEL">
                                        <ng-template ngbTabContent>
                                        <div [@fadeInOutTranslate] class="m-t-15">
                                            <div class=" form-group row"> 
                                                <div class="col-sm-8"> 
                                                </div> 
                                                <div class="col-sm-2">  
                                                    <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-primary btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                                                </div>
                                                <div class="col-sm-2"> 
                                                    <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                                                </div>
                                            </div> 
                                            <div class="col-sm-12">  
                                                <div class="card thumb-block card-box-identitas" style="width: 920px; margin: auto;">
                                                    <div class="row">
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="card thumb-block card-box-label">  
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>No. RM </strong></label></div>
                                                                <div class="col-sm-8"><label>12345678</label></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4"><label><strong>Nama</strong></label></div>
                                                                <div class="col-sm-8"><label>Asep Surasep bin Asep Surasep</label></div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-sm-4"><label><strong>Tgl. Lahir </strong></label></div>
                                                                <div class="col-sm-8"><label>23-12-1976</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div> 
                        </app-modal-basic>


                    </div>

                </div>
                </form> 
            <!-- </div>  -->
        </app-card>
    </div>
</div>