<div class="page-header row">
  <div class="page-header-title col-sm-6 col-xs-12">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a [routerLink]="'/'">
          <h4 ><i class="icofont icofont-home"></i></h4>
        </a>
      </li>
      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
        <!-- <a [ngClass]="breadcrumb.status === false ? 'not-active': ''" [routerLink]="breadcrumb.url"><h4>{{breadcrumb.label}}</h4></a> -->
        <a [routerLink]="breadcrumb.url"><h4>{{breadcrumb.label}}</h4></a>
      </li>
    </ul>
  </div>
  <div class="page-header-breadcrumb col-sm-6 col-xs-12"> 
    <span>{{weekday}}, {{ now | date:' dd MMMM yyyy HH:mm:ss' }}</span>
  </div>
</div>

<hr class="page-header-line">

<!-- <div class="page-header">
  <div class="page-header-title">
    <span *ngFor="let breadcrumb of breadcrumbs; let last = last"><h4 *ngIf="last">{{ breadcrumb.label }}</h4></span>
  </div>
  <div class="page-header-breadcrumb">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a [routerLink]="'/'">
          <i class="icofont icofont-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
        <a [ngClass]="breadcrumb.status === false ? 'not-active': ''" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
      </li>
    </ul>
  </div>
</div> -->