<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>
<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Front Office'"> 
            <div class="row"> 
                <button class="btn btn-default btn-outline-default btn-dashboard m-l-30 m-t-10 m-b-10" routerLink="/pendaftaran/identitas-baru" ><img src="assets/images/button/menu01.png" class="img-dashboard"/><span class="text-dashboard">Pendaftaran <br>Identitas</span></button>

                <button class="btn btn-default btn-outline-default btn-dashboard m-l-30 m-t-10 m-b-10" routerLink="/pendaftaran/identitas-lama" ><img src="assets/images/button/menu05.png" class="img-dashboard"/><span class="text-dashboard">Pendaftaran <br>Poliklinik</span></button>
            
                <button class="btn btn-default btn-outline-default btn-dashboard m-l-30 m-t-10 m-b-10" routerLink="/pasien" ><img src="assets/images/button/menu02.png" class="img-dashboard"/><span class="text-dashboard">Pasien <br>Poliklinik</span></button>
            
                <button class="btn btn-default btn-outline-default btn-dashboard m-l-30 m-t-10 m-b-10 disabled"><img src="assets/images/button/menu03.png" class="img-dashboard"/><span class="text-dashboard">Kasir</span></button>
              
                <button class="btn btn-default btn-outline-default btn-dashboard m-l-30 m-t-10 m-b-10 disabled"><img src="assets/images/button/menu04.png" class="img-dashboard"/><span class="text-dashboard">Obat</span></button>
          
            </div>
        </app-card>
    </div>
</div>